*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
a, a:visited, a:hover, a:active{
  color: inherit;
}
body{
    background-color: black;
}
/* HEADER !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* HEADER !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* HEADER !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.netflix {
 width: min(120px , 40vw);
 aspect-ratio: 3 / 1;
}
menu{
    display: none;
}
.netflix img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    
}
.userlogo{
    width:min(40px, 40vw);
    display: none;
    
}
.userlogo img{
    width: 100%;
    height: 100%;
    object-fit:contain;
    overflow: hidden;
    border-radius:12px;
}
nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0);
}
.menumobile{
    position: sticky;
    overflow: hidden;
}

.menumobile ul{
    color: white;
    cursor: pointer;
    gap: 20px;
}
#mobilemenu{
    overflow: hidden;
    order: -1;
}
menu ul li:hover{
    color: red;
}
.searchbar{
    display: flex;
    align-items: center;
    color: white;
}
.nicons i:hover{
    color: red;
}

.nicons p:hover{
    color: red;
}
.nicons p{
    display: none;
}
.zingrov{
    display: none !important;
}
.menumobile button{
    font-size: 20px;
    border: none;
}
.fa-bars{
    background-color: transparent;
    color: white;
}
/* HEADER FINISHHHHHH !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* HEADER FINISHHHHHH !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* HEADER FINISHHHHHH !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.col{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: hidden;
}

.mobland{
    border:1px solid rgb(223, 18, 18);
    width: 33%;
    border-radius: 12px;
   
}
.mobland a{
    color: white;
}
.mobland a:hover{
    color: red;
}
.mobland img{
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 12px;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
footer p{
    padding: 20px 0;
    margin: 0 auto;
    color: white;
}
form input{
    padding: 9px;
    outline: none;
    background-color: transparent;
    border: 1px solid #333;
    color: white;
}
#getst{
    border:none ;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 2px;
    transition: .3s ease;
}
#getst:hover{
    background-color: rgb(123, 0, 0);
}

@media only screen and (min-width: 768px) {
   
    
    /* HEADER !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
    /* HEADER !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
    /* HEADER !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

    .netflix {
    width: min(180px , 40vw);
    aspect-ratio: 3 / 1;
    order: -1;
}
    .menumobile{
        display: none; 
    }
    menu{display: flex;}
    menu ul{
    display: flex;
    gap: 20px;
    color: white;
    cursor: pointer;
    }   
    menu ul li{
        transition: .3s ease;
    }
    menu ul li:hover{
        transform: scale(1.1);
    }
    .searchbar{
    display: flex;
    align-items: center;
    color: white;
}
.nicons i{
    transition: .3s ease;
}
.nicons i:hover{
    color: red;
    transform: scale(1.1);
}

.nicons p:hover{
    color: red;
    transform: scale(1.1);
}
.nicons{
    display: flex;
    align-items:center;
    gap: 15px;
    margin: 0 20px;
}  
.nicons p{
    display: flex;
    transition: .3s ease;
    cursor: pointer;
} 
.userlogo{
    display: flex;
    transition: .3s ease;
    
}
.userlogo:hover{
    transform: scale(1.1);
    
    
}

.zingrov{
    display: block !important;
    transition: .3s ease;
}
/* HEADER FINISHHHHHH !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* HEADER FINISHHHHHH !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* HEADER FINISHHHHHH !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.col{
    flex-wrap: nowrap;
}
 .mobland{
    width: 15%;
 }
}